In [1]:
import camelot
import csv
import pandas as pd

In [2]:
df=pd.read_csv('test.csv')
header_row=0
df.columns = df.iloc[header_row]
df = df.drop(header_row)
df = df.reset_index(drop=True)
df=df.fillna('')
z=len(df)
z

13

In [4]:
sname='Name of Block as per MIS Data Available in 2017'
vname='Village covered under scheme as per MIS Data Available in 2017'
for i in range(z):
    srno=df.iat[i,0]   
    if (i<2):
        continue
    elif(not srno):
        nl_vname=df.at[i,vname]
        df.at[i-1,vname]=df.at[i-1,vname] + ' ' + nl_vname
        
        nl_sname=df.at[i,sname]
        df.at[i-1,sname]=df.at[i-1,sname] + ' ' + nl_sname
    #df=df.drop(i)
df

,Sr No,Division Name as per MIS Data Available in 2017,Name of District,Name of Block as per MIS Data Available in 2017,Name of Scheme Village as per MIS Data Available in 2017,Scheme ID as per MIS Data Available in 2017,Village covered under scheme as per MIS Data Available in 2017,Village ID as per MIS Data Available in 2017,Aluminium,Lead,...,Uranium in One,Flouride,Chloride,Nitrate,Sulphate,Calcium,Magnesium,Sodium,Potasium,TDS
0,,,,,,,,,0.03 mg/l (A),0.01 mg/l (A),...,30 µg/l,1.0 mg/l (A),250 mg/l,45 mg/l (A),200 mg/l,75 mg/l,30 mg/l,-,-,500 mg/l (A)
1,,,,,,,,,0.2 mg/l (p),No Relexation (P),...,60 µg/l),1.5 mg/l (P),1000 mg/l,No Relexation (P),400 mg/l,200 mg/l,100 mg/l,-,-,2000 mg/l (P)
2,1,"Amritsar,Div-3",Amritsar,Attari,Bagarian,HP1252,Bagrian,3091,0,0.011,...,17.400,0.24,,6.10,,,,,,693
3,2,"Amritsar,Div-3",Amritsar,Attari,Nodh Singh (Chicha),HP4020,Chicha Nodh Singh,14486,0,0.037,...,0.400,0.33,,37.20,,,,,,747
4,3,"Amritsar,Div-2",Amritsar,Jandiala Guru,Abadi Dakhla Khu (Gehri),HP1009,Abadi Dakhla Khu,14334,0.601,0.053,...,15.400,,,,,,,,,
5,4,"Amritsar,Div-2",Amritsar,Jandiala Guru,Abadi Dakhla Khu (Gehri),HP1009,Abadi Khu Guru Arjan Dev Ji Dev Ji,14337,0.601,0.053,...,15.400,,,,,,,,,
6,,,,,,,Dev Ji,,,,...,,,,,,,,,,
7,5,"Amritsar,Div-2",Amritsar,Jandiala Guru,Abadi Dakhla Khu (Gehri),HP1009,Abadi Surjan Singh Wala,14338,0.601,0.053,...,15.400,,,,,,,,,
8,6,"Amritsar,Div-2",Amritsar,Jandiala Guru,Abadi Dakhla Khu (Gehri),HP1009,Abadi Teja Singh,,0.601,0.053,...,15.400,,,,,,,,,
9,7,"Amritsar,Div-2",Amritsar,Jandiala Guru,Abadi Dakhla Khu (Gehri),HP1009,Wala,14336,0.601,0.053,...,15.400,,,,,,,,,
10,8,"Amritsar,Div-2",Amritsar,Jandiala Guru,Bhagwan,TW1519,Bhangwan,12744,0.297,0.003,...,15.063,,,,,,,,,
11,9,"Amritsar,Div-2",Amritsar,Jandiala Guru,Rakh Manawala (Bandala),HP13487,Abadi Joga Singh Wala,14918,0,0.017,...,0.400,0.41,,4.20,,,,,,305
12,10,"Amritsar,Div-2",Amritsar,Jandiala Guru,Rakh Manawala (Bandala),HP13487,Abadi Nandwala Nawan Pind,14919,0,0.017,...,0.400,0.41,,4.20,,,,,,305